@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana, sans-serif;
    }

    body {
/*         background-color: #BED1CF;
 */        /*         padding: 20px;
     */
    }</style>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
